<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Visualizing Asynchronous Number Generation with Flask</h1>
            </div>
        </div>
        <div class="container" id="content">
            <div id="myChart"></div>
            <div id="CandleChart"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script src="../../static/js/lines.js"></script>
        <script src="../../static/js/candles.js"></script>
    </body>
</html>